body {
    font-family: Microsoft JhengHei;
}

#banner {
    height: 350px;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
}

#info {
    background-color: #e8e0dc;
}