body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.container {
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    text-align: center;
}